<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>   
  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/assinatura.css">
  <link rel="stylesheet" href="/css/como-afeta.css">
  <link rel="stylesheet" href="/css/parcerias.css">
  <title>Cats</title>
</head>
<body>
    <header>
        <section>
            <nav>
                <ul>
                    <li><a href="#"><img src="/assets/svg/icon-menu.svg" alt=""></a></li>
                    <li><a href="#"><img src="/assets/svg/icon-home.svg" alt=""></a></li>
                </ul>
            </nav>
            <a href="/">
                <img class="logo" src="/assets/img/logo-nav.png" alt="">
            </a>
        </section>
    </header>

    {{{body}}}
</body>
</html>