<section class="container-assinatura">
    <section class="assinaturas">
        <h1>Assinatura para empresas</h1>
        <img class="coin" src="/assets/svg/dolar-coin.svg" alt="">
        <section class="pacotes-assinatura">
            <div class="assinatura">
                <img src="/assets/svg/money-bag.svg" alt="">
                <p>Assinatura de 1 mês</p>
                <p class="valor">$$$$$</p>
            </div>
            <div class="assinatura">
                <img src="/assets/svg/money-bag.svg" alt="">
                <p>Assinatura de 6 mês</p>
                <p class="valor">$$$$$</p>
            </div>
            <div class="assinatura">
                <img src="/assets/svg/money-bag.svg" alt="">
                <p>Assinatura de 12 mês</p>
                <p class="valor">$$$$$</p>
            </div>
        </section>
        <p>A assinatura conta com o serviço de maior demanda de clientes ao seu local, dando destaque a sua empresa no site de acordo com o período de tempo que for pago.</p>
    </section>
    <img class="seedling" src="/assets/svg/seedling.svg" alt="">
</section>
