<section class="container-como-afeta">
    <div class="separator">
        <h1>Como o descarte incorreto afeta o meio-ambiente?</h1>
        <img src="/assets/svg/seedling.svg" alt="">
    </div>

    <section class="info-como-afeta">
        <img src="/assets/img/img-como-afeta.png" alt="">
        <p>Lixo eletrônico, também conhecido como e-lixo ou resíduo eletrônico, refere-se a todos os dispositivos eletrônicos descartados, como celulares, computadores, TVs, eletrodomésticos, entre outros. Esses aparelhos contêm materiais tóxicos, como mercúrio, chumbo, cádmio e outros metais pesados, além de componentes plásticos não biodegradáveis. O descarte inadequado desses resíduos pode ter consequências graves para o meio ambiente e para a saúde humana. Com o rápido avanço tecnológico e a obsolescência programada, a quantidade de lixo eletrônico gerada está em constante aumento. Estima-se que cerca de 50 milhões de toneladas de lixo eletrônico sejam produzidas globalmente anualmente. Esse número tende a crescer ainda mais, pois a demanda por dispositivos eletrônicos continua em ascensão nos países emergentes.</p>
    </section>

    <p>Quando o lixo eletrônico é descartado inadequadamente, ocorre a liberação de substâncias químicas nocivas no solo e na água. Esses produtos químicos contaminam o solo, atingem os lençóis freáticos e podem chegar aos cursos d’água, comprometendo a qualidade e a disponibilidade de água potável. Além disso, a contaminação do solo afeta a agricultura e a segurança alimentar. Os metais pesados presentes no lixo eletrônico representam um risco significativo para a saúde humana. A exposição a essas substâncias pode causar danos neurológicos, problemas respiratórios, distúrbios hormonais e até câncer. Isso afeta não apenas os trabalhadores envolvidos no processamento inadequado desses resíduos, mas também as comunidades próximas a áreas de descarte inadequado.</p>
</section>