<section class="container-parcerias">
    <section class="parcerias">
        <h1>Nossas principais parcerias</h1>
        <img class="handshake" src="/assets/svg/icon-handshake.svg" alt="">
        <section class="parceiros">
            <div class="parceiro">
                <img src="/assets/svg/permanent-job.svg" alt="">
                <p>Nome <img src="/assets/svg/verify.svg" alt=""></p>
            </div>
            <div class="parceiro">
                <img src="/assets/svg/permanent-job.svg" alt="">
                <p>Nome <img src="/assets/svg/verify.svg" alt=""></p>
            </div>
            <div class="parceiro">
                <img src="/assets/svg/permanent-job.svg" alt="">
                <p>Nome <img src="/assets/svg/verify.svg" alt=""></p>
            </div>
            <div class="parceiro">
                <img src="/assets/svg/permanent-job.svg" alt="">
                <p>Nome <img src="/assets/svg/verify.svg" alt=""></p>
            </div>
        </section>
        <a class="tornese-parceiro" href="#">Se torne um parceiro</a>
    </section>
    <img class="seedling" src="/assets/svg/seedling.svg" alt="">
</section>
